/* Split the screen in half */
.side {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width:25%;
    background-color: rgb(41,41,41);
    font-family: sans-serif;
  }
  
  .job-title{
    padding-bottom: 10%;
  }
  /* Control the right side */
  .right {
    right: 0;
    width: 75%;
    background-color: rgb(27,27,27);
  }
  
  /* If you want the content centered horizontally and vertically */
  .container{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
    /* border: 1px solid green; */
  }
  
  /* Style the image inside the centered container, if needed */
  .container img {
    width: 13rem;
    border-radius: 50%;
    border: 5px solid #ffa31a;
  }


  .button {
    background-color: #808080;
    color: white;
    padding: 5%;
    margin: 5%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 30px;
    font-family: sans-serif;
    
    /* border: 1px solid red; */
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #d08d27;
  }