*{
    padding: 0%;
    margin: 0%;
}

body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.sides{
    height: 100%;
}

.left{
    width: 25%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-child{
    height: 30%;
    width: 80%;
}

.prof-pic{
    width: 55%;
    height: 26%;
    border-radius: 50%;
    border: 7px solid orange;
    overflow: hidden;
}

.prof-pic img{
    width: 100%;
    height: 100%;
}

.description{
    height: 12%;
    margin: 1rem 0;
    color: white;
    text-align: center;
    display: grid;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.description span{
    color: orange;
}

.description h2{
    font-weight: 900;
}

.buttons{
    height: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: center;
    margin-top: 1rem;
}

.buttons a{
    height: 12%;
    width: 85%;
    border-radius: 3rem;
}

.buttons a button{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: transparent;
    border: 3px solid #3e3d3d;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.buttons a button:hover{
    border: 3px solid orange;
    background: black;
}


/* 

RIGHT SIDE

*/
.right{
    box-sizing: border-box;
    width: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}


.r-child{
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
}





/* 

CONTACT ME

*/
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6%;
}

.contact-child{
    height: 15%;
    width: 50%;
    
}

.title{
    height: 5%;
}
.title h1{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-form{
    height: 45%;
    width: 35%;
}

.contact-form form{
    display: grid;
    text-align: center;
}

.contact-form form input, .contact-form form textarea{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 1rem;
    margin: 1.5rem 0;
    padding: 0.3rem;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#username{
    margin-top: 0;
}

form input:hover::placeholder, form textarea:hover::placeholder{
    color: white;
}

form input:hover, form textarea:hover{
    border-bottom: 2px solid white;
}

form button{
    padding: 0.3rem;
    background: transparent;
    color: orange;
    border: 2px solid white;
    border-radius: 3rem;
    width: 50%;
    margin: 0.3rem auto;
    cursor: pointer;
    font-size: 1.3rem;
}

form button:hover{
    border: 2px solid orange;
    color: white; 
} 

.social{
    height: 5%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.media-child{
position: relative;
width: 2,7rem;
height: 100%;
cursor: pointer;
}

.media-child:hover{
width: 2.9rem;
}

.media-child img{
width: 100%;
height: 100%;
}

.info{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
font-size: 1.4rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #888888;
line-height: 2rem;
height: 7%;
}

.copyright{
height: 3%;
text-align: center;
font-size: 1.5rem;
color: white;
}
.copyright h5 span{
color: orange;
}






.home{
    border: 2px solid white;
}
.about{
    border: 2px solid purple;
}
.experience{
    border: 2px solid green;
}
.portfolio{
    border: 2px solid blue;
}