*{
  padding: 0%;
  margin: 0%;
}

body{
  box-sizing: border-box;
}

/* 

Header -> Navigation -> Start

*/

@media only screen and (max-width: 600px) {
  .nav{
      position: fixed;
      top: 0%;
      height: 10vh;
      width: 100vw;
      background: black;
      display: flex;
      justify-content: space-between;
      font-family: sans-serif;
      align-items: center;
      z-index: 10;
  }
  
  .logo{
      color: white;
      margin: 1rem;
      margin-left: 2rem;
      width: 4rem;
      height: 4rem;
      display: inline-block;
      border: 1px solid red;

    }

  .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .burger{
      width: 2rem;
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      cursor: pointer;
  }

  .burger > div{
      width: 100%;
      margin-top: 0.3rem;
      background: white;
      height: 0.2rem;
      border-radius: 1rem;
  }

  .menuON{
      display: none;
  }

  .menuOFF{
      position: absolute;
      background: rgb(38, 44, 44);
      margin-top: 35rem;
      width: 100%;
      height: 30.7rem;
      list-style: none;
      color: white;
      display: grid;
      align-items: center;
      justify-content: center;
      transition: width 5s ease-in height 5s;
  }
}

/* 

Header -> Navigation -> End

*/




.article {
  max-height: auto;
  overflow: hidden;
  margin: 1rem 0.1rem;
  box-shadow: 5px 3px 10px #888888;
  border-radius: 0.2rem;
  position: relative;
}
.article div {
  overflow: hidden;
}
.article h1, .article p, .article div {
  margin: 0;
  padding: 0;
}
.article .artPrevImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .artPrevImage:hover {
  cursor: nesw-resize;
}
.article .artPrevMedia {
  max-height: 15rem;
}
.article .artPrevHeading {
  max-height: 4.7rem;
  transition: all 0.5s ease;
  position: relative;
}
.article .artPrevHeading .artTextOverlay {
  position: absolute;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(88, 88, 88, 0.592));
  width: 100%;
  height: 4.7rem;
  top: 0;
  transition: all 0.5s ease;
}
.article .artPrevHeading.expand {
  max-height: var(--originalHeight);
}
@keyframes fromOverToTrans {
  0% {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(88, 88, 88, 0.755));
  }
  100% {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.463));
  }
}
.article .artPrevHeading.expand .artTextOverlay.expand {
  height: var(--originalHeight);
  animation: fromOverToTrans 1.5s linear 0s 1 normal both;
}
.article .readMoreOverlay {
  position: absolute;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  text-align: center;
  bottom: 1.3rem;
  z-index: 1;
  border: 0;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}
.article .readMoreOverlay:hover {
  color: rgba(31, 31, 255, 0.653);
  cursor: pointer;
}
.article .artPrevStamp {
  max-height: 4rem;
  background-color: rgba(88, 88, 88, 0.592);
}
.article .timeStamp {
  color: rgb(236, 236, 236);
  font-style: italic;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.article .linkCategory {
  color: red;
  text-shadow: 0.1px 0.1px white;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  height: 2rem;
}
.article .share {
  font-weight: bold;
  position: relative;
}
.article .share:before {
  content: ".";
  font-size: 2.2em;
  position: absolute;
  bottom: -2.5px;
  left: -4px;
}
.article .share:after {
  content: ":";
  font-size: 2em;
  position: absolute;
  bottom: -6px;
  right: -7px;
}
.article .save {
  max-height: 1rem;
  max-width: 1rem;
  display: inline-block;
}
.article .save img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .save img:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */



/* 

Footer -> Start

*/

@media only screen and (max-width: 600px) {
  .footer{
    box-sizing: border-box;
    height: 50vh;
    width: 100%;
    margin-top: 2rem;
    background: black;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .info{
    text-align: center;
    font-size: 1.5rem;
    color: #888888;
    line-height: 2rem;
  }

  .info span{
    text-decoration: none;
    list-style: none;
    color: #888888;
  }

  .socialMedia{
    display: flex;
    justify-content: space-around;
  }
  .media-child{
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .media-child img{
    width: 100%;
    height: 100%;
  }

  .copyright{
    text-align: center;
    font-size: 2rem;
  }
  .copyright h5 span{
    color: orange;
  }
}

/* 

Footer -> End

*/